.App {
  width: 100vw;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  display: grid;
  place-items: center;
}

body {
  margin: 0%;
  padding: 0%;
}

.join-container {
  text-align: center;
}

.join-container input {
  height: 40px;
  margin: 7px;
  border: 2px solid black;
  padding: 5px;
  font-size: 16px;
}

.join-container button {
  width: 225px;
  height: 50px;
  margin: 7px;
  border: none;
  padding: 5px;
  font-size: 16px;
  background: black;
  color: #fff;
  cursor: pointer;
}

.chat {
  width: 350px;
}

.chat .chat-header {
  height: 45px;
  background: black;
}
.chat .chat-header p {
  padding: 0 1em 0 2em;
  color: #fff;
  font-weight: 700;
  line-height: 45px;
}

.chat .chat-body {
  height: 600px;
  border: 1px solid #263238;
}

.chat .chat-body .scroll-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat .chat-body .scroll-container::-webkit-scrollbar {
  display: none;
}

.chat .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.chat .chat-body .message .message-content {
  max-width: 150px;
  background-color: #bbbbbb;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-end;
}

#you .message-content {
  justify-content: flex-end;
  background-color: #075e54;
}

#you .message-name {
  justify-content: flex-end;
  margin-right: 5px;
}

.chat .chat-body .message .message-name {
  display: flex;
  font-size: 12px;
}

.chat .chat-footer {
  height: 40px;
  border: 1px solid black;
  border-top: none;
  display: flex;
}

.chat .chat-footer input {
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  border-right: 1px solid #bbbbbb;
  outline: none;
}

.chat .chat-footer button {
  border: 0;
  flex: 15%;
  background: transparent;
  font-size: 25px;
}

.chat .chat-footer button:hover {
  color: #075e54;
}
